.container-input {
  width: 200px;
  height: 60px;
  padding: 10px;
  background-color: rgb(196, 236, 236);
  border: 1px solid rgb(126, 126, 223);
  display: flex;
  align-items: center;
  flex-direction: column;

  .box-input {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }
}
