<p>{{ nomeUrl }}</p>

<!-- *ngFor -->
<ul>
  <li *ngFor="let curso of cursosNgFor" >
    {{ curso }}
  </li>

  <li *ngFor="let curso of cursosNgFor, let i = index" >
    {{ i }} - {{ curso }}
  </li>
</ul>


<!-- *ngIf -->
<!-- se o tamanho do cursosNgIf for maior que 0, ele aparece na tela -->
<div *ngIf="cursosNgIf.length > 0">
  Lista de cursos
</div>
<!-- se o mostarCursosNgIf for verdadeiro, ele aparece na tela -->
<div *ngIf="mostarCursosNgIf">
  Não existem cursos para serem listados
</div>

<!-- hidden como alternativa, ao invés do *ngIf -->
<!-- verdadeiro -->
<div [hidden]="mostarCursosNgIf">
  Lista de cursos
</div>
<!-- falso -->
<div [hidden]="!mostarCursosNgIf">
  Não existem cursos para serem listados
</div>

<button (click)="onMostrarCursosNgIf()">Mostrar ou esconder cursos</button>


<!-- *ngSwitch -->
<div class="container">
  <a class="blue"
    [class.active]="abaNgSwitch == 'home'"
    (click)="abaNgSwitch = 'home'"
  >
    Home
  </a>
  <a class="blue"
    [class.active]="abaNgSwitch == 'mapa'"
    (click)="abaNgSwitch = 'mapa'"
  >
    Mapa
  </a>
  <a class="blue"
    [class.active]="abaNgSwitch == 'nenhum'"
    (click)="abaNgSwitch = 'nenhum'"
  >
    Default
  </a>
</div>

<div [ngSwitch]="abaNgSwitch">
  <p *ngSwitchCase="'mapa'">Modo Mapa Ativado</p>
  <p *ngSwitchCase="'home'">Modo Home Ativado</p>
  <p *ngSwitchDefault>Default</p>
</div>


<!-- *ngClass -->
<!-- se favoritoNgClass for true ele pega a classe blue, se for false pega a classe green -->
<div>
  <h1 [ngClass]="{
    blue: favoritoNgClass,
    green: !favoritoNgClass
  }"
  (click)="onMostrarFavorito()"
  >
    Alterar Cor
  </h1>
</div>


<!-- *ngStyle -->
<button [ngStyle]="{
  backgroundColor: ativoNgStyle ? 'blue' : 'gray',
  color: ativoNgStyle ? 'white' : 'black',
  fontWeight: ativoNgStyle ? 'bold' : 'normal'
  }"
  (click)="mudarAtivoNgStyle()"
>
  Mudar Atributo 'Ativo' com o *ngStyle
</button>
<!-- Sem usar o *ngStyle -->
<button
  [style.backgroundColor]="ativoNgStyle ? 'blue' : 'gray'"
  [style.color]="ativoNgStyle ? 'white' : 'black'"
  [style.fontWeight]="ativoNgStyle ? 'bold' : 'normal'"
  (click)="mudarAtivoNgStyle()"
>
  Mudar Atributo 'Ativo' sem o *ngStyle
</button>



<!-- *ngContent -->
<!-- Com o uso do ngContent é possivel passar conteúdo de um html para outro -->
<div>
  <ng-content select=".titulo"></ng-content>
  <ng-content select=".frase"></ng-content>
</div>
