<p>{{ exemplo1 }}</p>

<p>{{ 50 + 50 }}</p>  //pode fazer cálculos

<p>{{ getExemplo2() }}</p>

<img [src]="exemplo3">


// class Binding
<select #classe (change)="0">
  <option value="nome1">Nome1</option>
  <option value="nome2">Nome2</option>
</select>

<div [class.blue]="classe.value == 'nome1'">
  Texto 1
</div>
<div  [class.green]="classe.value == 'nome2'">
  Texto 1
</div>


//Event Binding
<button (click)="botaoExemplo4()">Button</button>

<input (keyup)="onKeyUpExemplo5($event)">

<input (keyup.enter)="salvarExemplo6(campoInput.value)"
#campoInput
>

<p>{{ valorSalvo }}</p>

<span
  (mouseover)="onMouseExemplo7()"
  (mouseout)="onMouseExemplo7()"
  [class.cor]="isMouseOver"
>
  Mudar Cor
</span>

<br>

//Exemplos Data Binding
<article>
  <h3>Two-way Data Binding</h3>
  <div>
    <input
      [value]="exemplo8"
      (input)="exemplo8 = pegarValor.value"
      #pegarValor
    >

    <input
      [ngModel]="exemplo8"
      (ngModelChange)="exemplo8 = $event"
    >

    <input
      [(ngModel)]="exemplo8"
    >

    <p>Você digitou: {{ exemplo8 }}</p>

  </div>
</article>

<input [(ngModel)]="exemplo9.nome">
<input [(ngModel)]="exemplo9.idade">
<p>{{ exemplo9.nome }} e {{ exemplo9.idade }}</p>



