<div class="container-calculadora">
  <form>
    <button
      type="button"
      (click)="limpar()"
    >
      C
    </button>
    <input
      type="text"
      [value]="display"
      id="display"
      readonly
    />
    <button
      type="button"
      (click)="adicionarNumero('7')"
    >
      7
    </button>
    <button
      type="button"
      (click)="adicionarNumero('8')"
    >
      8
    </button>
    <button
      type="button"
      (click)="adicionarNumero('9')"
    >
      9
    </button>
    <button
      type="button"
      (click)="definirOperacao('/')"
    >
      /
    </button>
    <button
      type="button"
      (click)="adicionarNumero('4')"
    >
      4
    </button>
    <button
      type="button"
      (click)="adicionarNumero('5')"
    >
      5
    </button>
    <button
      type="button"
      (click)="adicionarNumero('6')"
    >
      6
    </button>
    <button
      type="button"
      (click)="definirOperacao('*')"
    >
      *
    </button>
    <button
      type="button"
      (click)="adicionarNumero('1')"
    >
      1
    </button>
    <button
      type="button"
      (click)="adicionarNumero('2')"
      id="btn2"
    >
      2
    </button>
    <button
      type="button"
      (click)="adicionarNumero('3')"
      id="btn3"
    >
      3
    </button>
    <button
      type="button"
      (click)="definirOperacao('-')"
    >
      -
    </button>
    <button
      type="button"
      (click)="adicionarNumero('0')"
    >
      0
    </button>
    <button
      type="button"
      (click)="adicionarNumero('.')"
    >
      .
    </button>
    <button
      type="button"
      (click)="calcular()"
      id="btnCalcular"
    >
      =
    </button>
    <button
      type="button"
      (click)="definirOperacao('+')"
      id="btnSoma"
    >
      +
    </button>
  </form>
</div>
