<h1>Cursos</h1>

<div *ngFor="let curso of exemploGet | async" class="curso-btn">
  <p>
    {{ curso.nome }}
  </p>
  <button (click)="onEdit(curso.id)">Atualizar Curso</button>
  <button (click)="onDelete(curso.id)">Remover Curso</button>
</div>

<div *ngIf="errorGet | async">
  Erro ao carregar os cursos
</div>

<div class="button">
  <button routerLink="/novo">Novo Curso</button>
</div>


<!--Confirmar exclusão do curso-->
<div *ngIf="visible else deleteModal"></div>

<ng-template #deleteModal>
  <p>Confirma a exclusão do curso?</p>
  <button (click)="onConfirmDelete()">Sim</button>
  <button (click)="onDeclineDelete()">Não</button>
</ng-template>


