<!--routerLink para mudar as rotas-->
<!--routerLinkActive para alterar a cor quando a rota for selecionada-->
<!--routerLinkActiveOptions para ativar e desativar a rota selecionada-->
<nav>
  <div class="nav">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="login">Login</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="cursos">Cursos</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
